<mat-card>
  <mat-card-content>
    <mat-card-title>Даннні про просочення конструкцій</mat-card-title>

    <mat-accordion>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Площа: {{impregnation?.area}}м2
          </mat-panel-title>

          <mat-panel-description *ngIf="impregnation?.seepage_liquid">
            Рідина: {{impregnation?.seepage_liquid}}
          </mat-panel-description>

          <mat-panel-description>
            Дата наступної повірки {{impregnation?.next_check}}
          </mat-panel-description>
        </mat-expansion-panel-header>


        <form [formGroup]="form" class="my-form">

          <mat-form-field appearance="fill">
            <mat-label>Рідина</mat-label>
            <input matInput formControlName="seepage_liquid">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Площа</mat-label>
            <input matInput formControlName="area">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Дата наступної повірки</mat-label>
            <input matInput formControlName="next_check">
          </mat-form-field>

          <mat-action-row>
            <button mat-button color="primary" (click)="edit()">Зберегти зміни</button>
            <button mat-button color="primary" *ngIf="impregnation" (click)="delete(impregnation.id)">Видалити</button>
          </mat-action-row>

        </form>


      </mat-expansion-panel>
    </mat-accordion>

  </mat-card-content>
</mat-card>
