<mat-card>
  <mat-card-content>
    <mat-card-title>Список Вогнегасників</mat-card-title>

    <table mat-table [dataSource]="table" class="mat-elevation-z8">

      <!-- Name column -->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Назва</th>
        <td mat-cell *matCellDef="let element" > {{element.model}} </td>
      </ng-container>

      <!-- Quantity column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Кількість</th>
        <td mat-cell *matCellDef="let element" > {{element.quantity}} </td>
      </ng-container>

      <!-- Address client firm column -->
      <ng-container matColumnDef="next_check">
        <th mat-header-cell *matHeaderCellDef>Наступна дата повірки</th>
        <td mat-cell *matCellDef="let element"> {{element.next_check}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Редагувати</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="edit(element) "><mat-icon>edit</mat-icon></button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Видалити</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="delete(element.id)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">Данні про вогнегасники не заповнені</td>
      </tr>

    </table>

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>

          <mat-panel-title>
            {{forUpdate?"Редагувати данні":"Створити"}}
          </mat-panel-title>

        </mat-expansion-panel-header>

        <form [formGroup]="form" class="my-form">

          <mat-form-field appearance="fill">
            <mat-label>Модель</mat-label>
            <input matInput formControlName="model">
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>Кількість</mat-label>
            <input matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Дата наступної повірки</mat-label>
            <input matInput formControlName="next_check">
          </mat-form-field>

          <mat-action-row>
            <button mat-button color="primary" (click)="save()">Зберегти зміни</button>
          </mat-action-row>

        </form>

      </mat-expansion-panel>
    </mat-accordion>


  </mat-card-content>
</mat-card>
