<mat-card>
  <mat-card-content>
    <mat-card-title>Список сім карт</mat-card-title>
    <mat-card-subtitle>Тут виведений список існуючих  сім карт на підприємстві. Можете додати або редагувати
      карточку.
    </mat-card-subtitle>

    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel (closed)="false" #mapanel="matExpansionPanel">
        <mat-expansion-panel-header>

          <mat-panel-title>
            Додати сім картку
          </mat-panel-title>

          <mat-panel-description>
            Тут можна додати додати сім картку
            <mat-icon>sim_card</mat-icon>
          </mat-panel-description>

        </mat-expansion-panel-header>


        <form [formGroup]="form" class="my-form">

          <mat-form-field appearance="fill">
            <mat-label>№ карти</mat-label>
            <input matInput [imask]="{mask: '(000) 00 00 000'}" formControlName="number">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-select required formControlName="operator">
              <mat-option value="Kyivstar">Kyivstar</mat-option>
              <mat-option value="Vodafone">Vodafone</mat-option>
            </mat-select>
            <mat-label>Мобільний оператор</mat-label>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-select required formControlName="active">
              <mat-option [value]="true">Активна</mat-option>
              <mat-option [value]="false">Не активна</mat-option>
            </mat-select>
            <mat-label>Чи діюча картка</mat-label>
          </mat-form-field>

          <mat-action-row>
            <button mat-raised-button (click)="save()">{{!simForUpdate ? "Створити" : "Редагувати"}}</button>
          </mat-action-row>
        </form>

      </mat-expansion-panel>
    </mat-accordion>

    <mat-form-field appearance="standard">
      <mat-label>Фільтр</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Введіть данні..." #input>
    </mat-form-field>

    <table mat-table [dataSource]="simCardsTable" class="mat-elevation-z8">

      <!-- Sim card column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> № Картки.</th>
        <td mat-cell *matCellDef="let element">  {{element.number}} </td>
      </ng-container>

      <!-- Operator column -->
      <ng-container matColumnDef="operator">
        <th mat-header-cell *matHeaderCellDef>Мобільний оператор</th>
        <td mat-cell *matCellDef="let element"> {{element.operator}} </td>
      </ng-container>

      <!-- Active Column -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Статус</th>
        <td mat-cell *matCellDef="let element">
          {{!!element.active ? "Активна" : "Заблокована"}}
        </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Редагувати</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="edit(element) "><mat-icon>edit</mat-icon></button>

<!--          <button mat-raised-button (click)="edit(element) "> Редагувати</button>-->
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Видалити</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="delete(element.id)"><mat-icon>delete</mat-icon></button>

<!--          <button mat-raised-button (click)="delete(element.id)"> Видалити</button>-->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Немає співпадіння по пошуку "{{input.value}}" або карточки не створені</td>
      </tr>
    </table>


  </mat-card-content>
</mat-card>
