<mat-card>
  <mat-card-content>
    <mat-card-title>Даннні про пожежні рукави</mat-card-title>

    <mat-accordion>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
           Кількість пожежних рукавів {{hydrant?.quantity}}
          </mat-panel-title>
          <mat-panel-description>
            Дата наступної повірки {{hydrant?.next_check}}
          </mat-panel-description>
        </mat-expansion-panel-header>


        <form [formGroup]="form" class="my-form">

          <mat-form-field appearance="fill">
            <mat-label>Кількість</mat-label>
            <input matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Дата наступної повірки</mat-label>
            <input matInput formControlName="next_check">
          </mat-form-field>

          <mat-action-row>
            <button mat-button color="primary" (click)="edit()">Зберегти зміни</button>
            <button mat-button color="primary" *ngIf="hydrant" (click)="delete(hydrant.id)">Видалити</button>
          </mat-action-row>

        </form>


      </mat-expansion-panel>

    </mat-accordion>



  </mat-card-content>
</mat-card>
