<div class="page-wrapper">
  <mat-toolbar>
    <span>REGISTER</span>
  </mat-toolbar>

  <mat-card class="my-card">
    <mat-card-content>
      <form [formGroup]="registerForm" class="my-form">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" name="email">
        </mat-form-field>
        <mat-error *ngIf="emailError">A user with this email already exists</mat-error>

        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <div class="passButton">
            <input class="register_input" matInput autocomplete="on" [type]=" showPassword ? 'text' : 'password' "
                   placeholder="Password"
                   formControlName="password" name="password">
          </div>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Confirm password</mat-label>
          <div class="passButton">
            <input class="register_input" matInput autocomplete="on" [type]=" showPassword ? 'text' : 'password' "
                   placeholder="Confirm password"
                   formControlName="confirmPassword" name="confirmPassword">
            <button class="register_button" mat-raised-button color="primary"
                    (click)='showHidePassword()'> {{ showPassword ? 'Hide' : 'Show' }}
              Password
            </button>
          </div>

        </mat-form-field>
      </form>
      <mat-error *ngIf="registerForm.errors">{{registerForm.errors['notSame']}}</mat-error>
    </mat-card-content>

    <mat-card-actions>
      <button [disabled]="registerForm.invalid" mat-raised-button (click)="register()" color="primary">REGISTER</button>
    </mat-card-actions>
  </mat-card>

</div>
