mat-card{
  max-width: none;
}
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
button {
  margin: 16px 7px;
}
/* Structure */
table {
  width: 100%;
  text-align: left !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.red_Color{
  color: red
}
